@font-face {
  font-family: 'CouragesDemo';
  src: url('/public/fonts/CouragesDemo-rgjjK.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ExaltedExDemo';
  src: url('/public/fonts/ExaltedExDemo-9MMeZ.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
